<p style="color: green"><%= notice %></p>

<% content_for :title, "Clients" %>

<h1>Clients</h1>

<%= link_to "New client", new_client_path %>

<table id="clients">
  <thead>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
    </tr>
  <% end %>
</table>
